<%# -*- coding: utf-8 -*-%>
<%- require "./lib/datafile" -%>
<%- ROUTE = ENV["ROUTE"] -%>
<%- DATAFILE = Datafile.parse(File.read(".#{ROUTE}Datafile")) -%>
<%- DATAFILE.data.each do |datum| -%>
<%-   case datum.path -%>
<%-   when /^nav$/ -%>
<%-   when /^index$/ -%>
<ul>
<%-     datum.text.lines do |line| -%>
<%-       route = "#{ROUTE}#{line.chomp}/" -%>
<%-       datafile = Datafile.parse(File.read(".#{route}Datafile")) -%>
  <li><a href="<%= route -%>" data-route="<%= route -%>"><%= (datafile["title"]&.text || line).chomp -%></a></li>
<%-     end -%>
</ul>
<%-   when /^header$/ -%>
<h1><%= datum.text.chomp -%></h1>
<%-   when /^right$/ -%>
<p align="right">
<%= datum.text -%>
</p>
<%-   when /^(.+\.png)$/ -%>
<img src="<%= $1 -%>">
<%-   when nil -%>
<%-     case datum.text -%>
<%-     when /^----*$/ -%>
<hr>
<%-     else -%>
<p>
<%= datum.text.gsub("ï¼ï¼Ÿ", "<span class=\"rensuji\">!?</span>") -%>
</p>
<%-     end -%>
<%-   end -%>
<%- end -%>
