<%# -*- coding: utf-8 -*-%>
<%-

require "./lib/datafile"

ROUTE = File.join(File.expand_path(ENV["ROUTE"]), "/")

DATAFILE = Datafile.parse(File.read(File.join(".", ROUTE, "Datafile")))

DATAFILE.data.each do |datum|
  case datum.path
  when /^index$/

-%>
<ul>
<%-

    datum.text.lines do |line|
      path = line.chomp
      route = File.join(File.expand_path(File.join(ROUTE, path)), "/")
      datafile = Datafile.parse(File.read(File.join(".", route, "Datafile")))
      text = datafile["title"]&.text&.chomp || path

-%>
  <li><a href="<%= route -%>" data-route="<%= route -%>"><%= text -%></a></li>
<%-
    end
-%>
</ul>
<%-
  when /^header$/
    text = datum&.text&.chomp || ""
-%>
<h1><%= text -%></h1>
<%-
  when /^chapter$/
    text = datum&.text&.chomp || ""
-%>
<h2><%= text -%></h2>
<%-
  when /^section$/
    text = datum&.text&.chomp || ""
-%>
<h3><%= text -%></h3>
<%-
  when /^right$/
    text = datum&.text || ""
-%>
<p align="right">
<%= text -%>
</p>
<%-
  when /^code$/
    text = datum&.text || ""
-%>
<pre><code><%= text -%></code></pre>
<%-
  when /^(.+)\.v$/
    path = File.join(".", ROUTE, datum&.path&.chomp)
    text = datum&.text || `pygmentize -f html -P nowrap #{path}`
-%>
<pre><code><%= text -%></code></pre>
<%-
  when /^(.+)\.tex$/
-%>
<img src="<%= $1 -%>.svg">
<%- path = File.join(".", ROUTE, datum&.path&.chomp) -%>
<%- File.write(path, "\\documentclass{standalone}\n\\usepackage{euler}\n\\usepackage{amsmath}\n\\usepackage{amsfonts}\n\\begin{document}\n$\n" + (datum&.text || "") + "$\n\\end{document}\n") if datum&.text -%>
<%-
  when /^(.+\.png)$/
-%>
<img src="<%= $1 -%>">
<%-
  when nil
    case datum.text
    when /^----*$/
-%>
<hr>
<%-
    else
      text = datum&.text&.gsub("ï¼ï¼Ÿ", "<span class=\"rensuji\">!?</span>")
      text = text&.gsub("\n", "")
-%>
<p><%= text -%></p>
<%-
    end
  end
end
-%>
