<%-

require "json"
require "./lib/datafile"

ROUTE = File.join(File.expand_path(ENV["ROUTE"]), "/")

ROUTE_WITHIN =
  if ROUTE.count("/").odd?
    ROUTE
  else
    File.join(File.dirname(ROUTE), "/")
  end

ROUTES = Dir[File.join(".", ROUTE_WITHIN, "*", "Datafile")].map do |path|
  File.join(File.dirname(path)[1..-1], "/")
end

DATAFILE = Datafile.parse(File.read(File.join(".", ROUTE, "Datafile")))

PATHNAME = ROUTE === "/" ? "" : ROUTE
TITLE = DATAFILE["title"]&.text&.chomp || ROUTE
DESCRIPTION = DATAFILE["description"]&.text&.chomp || ""
THUMBNAIL = DATAFILE["thumbnail"]&.text&.chomp || "https://bydriv.github.io/site/thumbnail.png"

CLASS = DATAFILE["class"]&.text&.chomp || "vertical component"

-%>
<!DOCTYPE html>

<head prefix="og: http://ogp.me/ns#">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:url" content="https://bydriv.github.io<%= PATHNAME -%>">
  <meta property="og:type" content="article">
  <meta property="og:title" content="<%= TITLE -%>">
  <meta property="og:description" content="<%= DESCRIPTION -%>">
  <meta property="og:site_name" content="bydriv.github.io">
  <meta property="og:image" content="<%= THUMBNAIL -%>">
  <meta name="twitter:card" content="summary_large_image">

  <title><%= TITLE -%></title>

  <link rel="stylesheet" type="text/css" href="/site/index.css">
  <script type="text/javascript" src="/site/index.js"></script>
</head>

<div class="tapestry">
  <div class="top left layer" data-height="-1">
    <article class="<%= CLASS -%>" data-route="<%= ROUTE %>" data-loaded="true" data-title="<%= TITLE %>" data-scrollbar="none" data-visible="true">
<%= File.read(File.join(".", ROUTE, "article.html")) -%>
    </article>
  </div>
  <div class="bottom right layer" data-width="full" data-height="1">
    <nav class="horizontal component" data-route="<%= ROUTE_WITHIN %>" data-routes="<%= ROUTES.join(" ") %>" data-loaded="true" data-scrollbar="none" data-visible="true">
<%= File.read(File.join(".", ROUTE, "nav.html")) -%>
    </nav>
  </div>
</div>
