<%-

require "json"
require "./lib/datafile"

ROUTE = File.join(File.expand_path(ENV["ROUTE"]), "/")
ROUTES = ENV["ROUTES"].split(/\s+/).map {|route| File.join(File.expand_path(route), "/") }

DATAFILE = Datafile.parse(File.read(File.join(".", ROUTE, "Datafile")))

PATHNAME = ROUTE === "/" ? "" : ROUTE
TITLE = DATAFILE["title"]&.text&.chomp || ROUTE
DESCRIPTION = DATAFILE["description"]&.text&.chomp || ""
THUMBNAIL = DATAFILE["thumbnail"]&.text&.chomp || "https://bydriv.github.io/site/thumbnail.png"

-%>
<!DOCTYPE html>

<head prefix="og: http://ogp.me/ns#">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:url" content="https://bydriv.github.io<%= PATHNAME -%>">
  <meta property="og:type" content="article">
  <meta property="og:title" content="<%= TITLE -%>">
  <meta property="og:description" content="<%= DESCRIPTION -%>">
  <meta property="og:site_name" content="bydriv.github.io">
  <meta property="og:image" content="<%= THUMBNAIL -%>">
  <meta name="twitter:card" content="summary_large_image">

  <title><%= TITLE -%></title>

  <link rel="stylesheet" type="text/css" href="/site/index.css">
  <script type="text/javascript" src="/site/index.js"></script>
</head>

<div class="tapestry">
<%-

ROUTES.each do |route|
  datafile = Datafile.parse(File.read(File.join(".", route, "Datafile")))

  if ROUTE == route
    klass = datafile["class"]&.text&.chomp || "vertical component"
    visible = "true"
    loaded = "true"
    title = datafile["title"]&.text&.chomp || route
    text = File.read(File.join(".", ROUTE, "article.html"))
  else
    klass = datafile["class"]&.text&.chomp || "vertical component"
    visible = "false"
    loaded = "false"
    title = datafile["title"]&.text&.chomp || route
    text = ""
  end
-%>
  <div class="top left layer" data-height="-1">
    <article class="<%= klass -%>" data-route="<%= route %>" data-loaded="<%= loaded -%>" data-title="<%= title %>" data-scrollbar="none" data-visible="<%= visible -%>">
<%= text -%>
    </article>
  </div>
<%-
end

ROUTES.each do |route|
  next if route.count("/").even?

  re = /^#{Regexp.escape(route)}[^\/]+\/$/
  routes = ROUTES.select {|r| re =~ r}

  if ROUTE == route
    visible = "true"
    loaded = "true"
    text = File.read(File.join(".", ROUTE, "nav.html"))
  elsif ROUTE.start_with?(route) && ROUTE.count("/") == route.count("/") + 1
    visible = "true"
    loaded = "true"
    text = File.read(File.join(".", ROUTE, "nav.html"))
  else
    visible = "false"
    loaded = "false"
    text = ""
  end
-%>
  <div class="bottom right layer" data-width="full" data-height="1">
    <nav class="horizontal component" data-route="<%= route %>" data-routes="<%= routes.join(" ") %>" data-loaded="<%= loaded -%>" data-scrollbar="none" data-visible="<%= visible -%>">
<%= text -%>
    </nav>
  </div>
<%-
end
-%>
</div>
